* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  color: #39ff14;
  font-size: 13px;
  padding: 1 5 0 5;
}

.left {
  background-color: rgba(43,43,43,0.8);
  border-radius: 15px;
  margin: 0 3 0 0;
}

.right {
  background-color: rgba(43,43,43,0.8);
  border-radius: 15px;
  margin: 0 0 0 3;
}

