* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  color: #39ff14;
  font-size: 14px;
  background-color: #000000;
  background: none;
  padding: 0 0.3rem 0 0.3rem;
}

.left {
  background-color: rgba(43,43,43,0.8);
  border-radius: 15px;
  margin: 0 3 0 0;
}

.right {
  background-color: rgba(43,43,43,0.8);
  border-radius: 15px;
  margin: 0 0 0 3;
}

