* {
  all: unset;
  font-family: "FiraCode Nerd Font";
  color: #bec1af;
  font-size: 14px;
  background-color: #000000;
  padding: 0 0.3rem 0 0.3rem;
}

.workspace {
  color: #cedf4f;
}

.bmode {
  background-color: #cedf4f;
  color: #000000;
}

.temp {
  color: #ff5678;
}

.battery {
  color: #45ff67;
}

.mem {
  color: #6789ff;
}

